build/*
.vscode
upmem-2021.3.0-Linux-x86_64/src/backends/build/*
upmem-2021.3.0-Linux-x86_64/lib
upmem-2021.3.0-Linux-x86_64/share
upmem_driver_src/mappings/*.o
upmem_driver_src/mappings/*.o.cmd
upmem_driver_src/modules/*.o
upmem_driver_src/modules/*.o.cmd
pim-bench/db_primitives/SINGLE_DPU/JOIN/multi_thread_join/bin/
tbl_files/*
tbl_files
src/dpu/bin/*
PIDJoin*
src/*.o
src/*.o_1
src/*.o_2
src/jsoncpp/*.o
src/jsoncpp/*.o_1
src/jsoncpp/*.o_2
src/tablePartitioning/*.o
src/tablePartitioning/*.o_1
src/tablePartitioning/*.o_2
src/tests/*.o
src/tests/*.o_1
src/tests/*.o_2
timelines/*.timeline
timelines/*
eval_data/*.csv
notimeline
LOG
monetdb_setup/test
*.gz
*.advixeexpz
*.o_lib
*.o_test
*.bin
